<form method="post" action="{{url}}">
    <input type="hidden" name="cat_id" value="{{cat_id}}" />
    <div class="form-group">
        <label for="cat_label">Title</label>
        <input type="text" class="form-control" id="cat_label" name="cat_label" maxlength="25" value="{{gallery_title}}">
    </div>
    <div class="form-group">
        <label for="cat_description">Description</label>
        <textarea id="cat_description" name="cat_description" maxlength="500" rows="10" cols="10" class="form-control">{{description}}</textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>