<br/>
<form method="post" action="{{url}}">
    <input type="hidden" name="cat_id" value="{{cat_id}}" />
    <div class="alert alert-warning" role="alert">
        <p>Are you sure that you want to delete this gallery and it whole content?</p>
        <hr>
        <p class="mb-0">
            <button type="submit" class="btn btn-danger">Delete</button>
        </p>
    </div>
</form>