<br />
<form method="post" action="{{url}}" enctype="multipart/form-data">
    <input type="hidden" name="cat_id" value="{{cat_id}}" />
    <input type="hidden" name="MAX_FILE_SIZE" value="4194304" />
    <div class="form-group">
        <label for="photo_label">Title</label>
        <input type="text" class="form-control" id="photo_label" name="photo_label" maxlength="25" placeholder="Title">
    </div>
    <div class="form-group">
        <input type="file" class="form-control-file" id="photo_file" name="photo_file" accept=".png, .jpg, .jpeg" />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>